# http://www.gnu.org/software/automake

Makefile.in
.deps/
.dirstamp
.libs

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/config.log
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/libtool

# Object files
*.o
*.ko
*.obj
*.elf
*.Po

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.Plo
*.Plai
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Backup files
*~

# Build
/build/

# Tags
tags
